body{
  background: #14248A;
}

h2{
  
  color: #CFD2CD;
  text-decoration: underline dashed 14px ;
  letter-spacing: 3px;
  word-spacing: 24px;
  text-shadow: 4px 4px #DF2935;
  
}

img: hover {
  width: 500px;
  border-radius: 60%;
}

nav{
  list-style-type: none;
  width: 100vw;
  background-color: #AD343E;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: black;
  font-style: Times New Roman;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 18px 156px;
  float: left;
}

li a:hover{
  background-color: #BBE6E4;
    color: #141414;
}
